body {
  margin: 0;
  font-family: "NOTO SANS LAO";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "NOTO SANS LAO", monospace;
}

nav {
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.book-list {
  padding: 20px;
  margin-bottom: 20px;
}

.book-list ul {
  padding: 0;
  list-style-type: none;
}

.book-list li {
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}
